@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-timegrid-now-indicator-line {
  border-color: #ef4444 !important;
  border-width: 2px !important;
  z-index: 10 !important;
}

.fc-timegrid-now-indicator-arrow {
  border-color: #ef4444 !important;
  border-width: 6px !important;
}
